doctype html
html
    head
        title 
        block styles
            link(href='/public/styles/main.css', rel='stylesheet', type='text/css')
    body
        block header
            include includes/header.pug
        block content
            h1 Welcome to this
        block scripts
            script(src='/public/scripts/index.js', type='module')
        block footer
            include includes/footer.pug
        